#projects {
  margin-top: 10rem;
}

.card {
  padding: 20px 20px 20px 20px;
  gap: 80px;
  flex-shrink: 0;
  border-radius: 17px;
  background: var(--body_background) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.portfolio {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  color: #147efb;
  font-size: 30px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.portfolio-bio {
  justify-content: center;
  color: var(--body_color);
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.project {
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 20rem;
  overflow: hidden;
  width: 53rem;
}

.project-image {
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}

.project-image.small:hover {
  transform: translateY(-33.5%);
  transition: transform 10s ease-in-out 0s;
}

.project-image.medium:hover {
  transform: translateY(-42.5%);
  transition: transform 10s ease-in-out 0s;
}

.project-image.large:hover {
  transform: translateY(-64%);
  transition: transform 10s ease-in-out 0s;
}

.project-image.extralarge:hover {
  transform: translateY(-75%);
  transition: transform 10s ease-in-out 0s;
}

.card-title {
  color: #007bff ! important;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-text {
  color: var(--project_content_text_color);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.stack {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.stack p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000000 !important;
  font-family: 'Mulish', sans-serif !important;
  font-weight: 600 !important;
  padding: 1rem 1.3rem;
}

.links {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.links p {
  color: var(--body_color) !important;
  font-size: 1.1rem;
  text-align: center;
}


@media screen and (max-width: 480px) {
  #projects {
    margin-top: 2rem;
  }

  .portfolio {
    font-size: 1.7rem;
    justify-content: center;
  }

  .portfolio-bio {
    text-align: center;
  }

  .card-title {
    font-size: 14.75px;
  }

  .card-text {
    font-size: 12px;
  }

  .stack p {
    font-weight: 600 !important;
    padding: 0.5rem 1rem;
  }
  .project-image.small:hover {
    transform: translateY(-10%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.medium:hover {
    transform: translateY(-20%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.large:hover {
    transform: translateY(-48%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.extralarge:hover {
    transform: translateY(-63.5%);
    transition: transform 10s ease-in-out 0s;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .portfolio {
    justify-content: center;
  }

  .portfolio-bio {
    font-size: 18px;
    text-align: center;
  }

  .card-title {
    font-size: 15px;
  }

  .card-text {
    font-size: 13px;
  }

  .project-image.small:hover {
    transform: translateY(-10%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.medium:hover {
    transform: translateY(-20%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.large:hover {
    transform: translateY(-48%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.extralarge:hover {
    transform: translateY(-63.5%);
    transition: transform 10s ease-in-out 0s;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-title {
    font-size: 15px;
  }

  .card-text {
    font-size: 13px;
  }

  .project-image.small:hover {
    transform: translateY(-10%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.medium:hover {
    transform: translateY(-18%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.large:hover {
    transform: translateY(-42%);
    transition: transform 10s ease-in-out 0s;
  }

  .project-image.extralarge:hover {
    transform: translateY(-62%);
    transition: transform 10s ease-in-out 0s;
  }
}