footer {
  background-color: var(--navbar_color);
  padding: 2rem 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 4rem;
}

.footerc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer h4 {
  color: #fff;
  margin-top: 0.75rem;
}

.footerc__socials {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footerc__socials a svg {
  color: #fff;
  font-size: 1.7rem;
  transition: transform 0.3s ease-in-out;
}

.footerc__socials a svg:hover {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .footerc {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;
  }
}
